ASPNETCORE__ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=localhost;Port=5480;Database=vflow;Username=admin;Password=secret

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

EmailConf__Email=
EmailConf__Password=
EmailConf__Host=
EmailConf__Port=
EmailConf__TestRecipient=

JwtSettings__SecretKey=your-base64-encoded-256-bit-secret-here
JwtSettings__Issuer=vectorflow-api
JwtSettings__Audience=vectorflow-client
JwtSettings__AccessTokenExpirationMinutes=
JwtSettings__RefreshTokenExpirationDays=

ClientBaseUrl=http://localhost:5131

# Configure these to use resend to send emails - Check EmailService.cs to see how it has been used
Resend__ApiKey=
EmailConf__From=VectorFlow <noreply@yourdomain> # Must be in that format "Name <blablabla@yourdomain.com>"
