ASPNETCORE__ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=localhost;Port=5480;Database=vflow;Username=admin;Password=secret
JwtSettings__AccessTokenExpirationMinutes=
JwtSettings__RefreshTokenExpirationDays=
JwtSettings__Issuer=
EmailConf__Email=
EmailConf__Password=
EmailConf__Host=
EmailConf__Port=
EmailConf__TestRecipient=

JwtSettings__SecretKey=your-base64-encoded-256-bit-secret-here
JwtSettings__Issuer=vectorflow-api
JwtSettings__Audience=vectorflow-client